div.f-grid {
    display: flex;
    flex-flow: row wrap;
}

div.f-grid-cell {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

div.f-sidebar {
    padding-bottom: 3% !important;
}

div.borad {
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
}

img.borad-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

p.borad-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.cirCard-Des {
    border-image: round;
    text-align: center;
    font-weight: bolder;
}

img.img-card {
    width: fit-content;
}

p.Catop {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 1rem;
}

div.scard {
    background-color: white;
    height: 130px;
    position: relative;
    margin: .5rem 0 1rem 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

div.catop-layout {
    text-align: center;
    padding-top: 20px;
}

p.catop-content {}

span.smlink {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

div.banner {
    height: 100%;
    margin: 0;
    width: 100%;
    margin-bottom: 2rem;
}

div.banner {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    min-height: 1px;
}

div.imgBanner {
    width: 75%;
    float: left;
}

p.ban-text {
    background-color: #587D4A;
    font-size: 1.5em;
    width: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

div.popt {
    margin-top: 1.5em;
}

div.popt-content {
    text-align: center;
}

div.searchbar {
    width: 25%;
}

ul.navOp {
    overflow: hidden;
}